html, body {
    height: 100%;
    margin: 0;
}

.question {
  padding: 30px 30px 0px 30px;
}


i {
	color: white;
}

.mainTitle {
	padding: 40px 15% 80px 15%;
}

.buttonConfirm {
	margin-top: 40px;
	margin-bottom: 40px;
}

.question {
	margin-bottom: 80px;
  font-weight: bold;
}

.answerOne, .answerTwo, .answerThree, .answerFour {
  color: black;
}


.answerBox {
  margin-top: -20px;
}

.answerBox > label > h5:hover {
  cursor: hand;
  cursor: pointer;
}


.cardstyle {
	margin-left: 20px;
	margin-right: 40px;
}

.card-panel {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
 }

 body{
  position: relative;
}

.toast {
  
  background-color: white;
  color: black;

}

.reveal {
  display: none;
}

.restart {
	margin-top: 40px;
}


.scoreShow {

  padding: 40px 20px 80px 20px;
}


.score {
  font-weight: bold;
}






