html, body {

    height: 100%;
    margin: 0;

}

i.green {

	color: green;

}

i.red {

	color: red;
}

.mainTitle {
	
	padding: 40px 15% 80px 15%;
	
}

.buttonConfirm {
	
	margin-top: 80px;
	margin-bottom: 40px;

	
}

.question {

	margin-bottom: 80px;
}

.cardstyle {

	margin-left: 40px;
	margin-right: 40px;

}


.card-panel {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
 }

 body{
  position: relative;
}

.reveal {
  display: none;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
  min-height: 100%;
}

.restart {

	margin-top: 80px;
}

.reveal.card {

	margin: 0;
}